[2022-01-27 07:43] BenTheElder opened #7 "Enable CI"
We should enable CI to run roughly:
- `make verify`
- `make test`
- `make images build`
(each of these should probably be a distinct job in parallel)

We can probably use github actions or prow. `make verify` will require docker or the current shellcheck binary. the rest merely require bash/posix/make.

[2022-01-27 07:47] BenTheElder opened #8 "Enable Automated Builds"
1. We need to finish the `ko` build script 🙃
2. We'll need to file a request in k8s.io for a staging registry etc.
3. Then we can enable auto-push on postsubmit with prow/cloudbuild (https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io)

[2022-01-27 08:41] BenTheElder commented on #8
1) will be easier once we know what the staging registry will be in 2)

[2022-01-27 08:41] BenTheElder commented on #8
/assign

[2022-01-27 09:13] ameukam commented on #8
We can reuse the existing GCR staging repo for k8s-infra tools. https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io/images/k8s-staging-infra-tools.

List of the GCP accounts allowed to push: https://github.com/kubernetes/k8s.io/blob/main/groups/sig-k8s-infra/groups.yaml#L70

[2022-01-27 23:49] BenTheElder commented on #7
/assign

[2022-01-28 00:47] BenTheElder commented on #7
CI jobs added, need to test them, then fix any issues, then make required.

[2022-01-28 04:58] ameukam commented on #7
FWIW we already have shellcheckpresent in gcr.io/k8s-staging-infra-tools/k8s-infra:latest: https://github.com/kubernetes/k8s.io/blob/main/images/k8s-infra/Dockerfile#L38. (need to be updated)

[2022-01-28 08:19] BenTheElder commented on #7
https://github.com/kubernetes/test-infra/pull/25047#issuecomment-1023949950

these are working good now, making them blocking in https://github.com/kubernetes/test-infra/pull/25049

[2022-01-28 08:20] BenTheElder commented on #8
there's a cloudbuild for this now after https://github.com/kubernetes-sigs/oci-proxy/pull/9, but still need to do the test-infra job to automate and make sure it works there. I tried it in my own project and I think it's good to go.

[2022-01-28 09:26] BenTheElder commented on #7
https://github.com/kubernetes-sigs/oci-proxy/pull/12 you can see here that this is done, we have required presubmits covering all of these things since https://github.com/kubernetes/test-infra/pull/25049

[2022-01-28 09:26] #7 closed

[2022-01-28 09:27] BenTheElder commented on #8
https://github.com/kubernetes/test-infra/pull/25050 should have enabled this ™️ , we will see after #12 merges (or any other change)

[2022-01-28 14:48] ameukam commented on #8
First build succeeded:

[code]

[2022-01-28 18:08] #8 closed

[2022-01-28 19:58] BenTheElder opened #13 "standup sandbox deployment"
@ameukam started this here https://github.com/kubernetes/k8s.io/pull/3318

We still need:
- Loadbalancer
- NEGs
- Cloud Run deployment of the image from this repo (at least for the initial setup)

The infra configs should all live in https://github.com/kubernetes/k8s.io, but that issue tracker is noisier 🙃

[2022-02-03 13:20] ameukam commented on #13
xRef: https://github.com/kubernetes/k8s.io/issues/3317

[2022-02-03 21:19] BenTheElder commented on #13
Discussed some more 1:1 with arnaud and in the SIG meeting, tentatively we should split this into two deployments:

1. registry-sandbox.k8s.io where we will do active development
2. registry.k8s.io where we will enable a stable version that *only* does the redirect so we can look to shift traffic to the new FQDN

Later we can update registry.k8s.io with all the mirror goodness, when we're ready an

[2022-02-16 20:59] ameukam opened #16 "Stress of registry-sandbox.k8s.io"
oci-proxy is currently deployed over the 2 GCP regions: `us-central1` and `us-west1`. We should do some stress tests to build confidence on what we are building and also ensure we can handle `k8s.gcr.io` traffic.

We should probably ask to GCR team some outdated metrics.

/sig k8s-infra
/priority important-longterm

[2022-02-16 22:07] BenTheElder commented on #16
/assign @BenTheElder @ameukam

[2022-02-17 00:29] ameukam opened #17 "Monitoring of registry.k8s.io"
`archeio` is currently deployed in sandbox mode using Cloud Run:

We have [built-in metrics](https://cloud.google.com/run/docs/monitoring) for Cloud Run but we may need some custom metrics to gain more visibility in the system we are building.
Possible metrics to collect:
- HTTP code for every response from k8s.gcr.io

Alerting: https://github.com/kubernetes-sigs/oci-proxy/issues/75

[2022-02-17 09:31] aojea commented on #17
Request:
- code and duration. Attributes version(v1 or v2 or unknown) and, if `path` is bounded or reasonable small (to avoid cardinality explosion) and know how many requests are used per docker image

Server:
- # active requests

[2022-02-17 09:34] aojea commented on #17
maybe path, user-agent , ... and those things are better to log in an audit.log and not as metrics, so we can parse and report on them

Top images requested, ... by user agent,

[2022-02-17 12:14] ameukam commented on #17
/priority important-longterm
/sig k8s-infra

[2022-03-16 21:07] ameukam commented on #16
/assign @BobyMCbobs

[2022-03-16 23:10] BobyMCbobs opened #20 "ASN lookups"
# Background
Using collected+collated ASN data from aggregators, the published IP range information from the [cloud credits](https://www.cncf.io/credits) vendors, the source IP can be resolved all the way up to the provider's name and [publisher-verified ASNs](https://github.com/kubernetes/k8s.io/tree/c954d7e2ea28bc3d2c524d72590e8753410da3d9/registry.k8s.io/infra/meta/asns).

Currently this data i

[2022-03-17 01:44] BobyMCbobs commented on #16
# Background
![image](https://user-images.githubusercontent.com/8588826/158718788-6fb53247-b0f9-435e-84de-6a052fe4e039.png)

Production Kubernetes artifacts currently serve ~60,000,000 requests every day.

# Results
Ran some stress testing against the current registry.k8s.io and the results look pretty good.
The tests were not following redirection and only hitting https://registry.k8s.io/v2/

##

[2022-03-17 02:10] dims commented on #16
that's great news @BobyMCbobs

[2022-03-17 02:20] hh commented on #16
Thanks @BobyMCbobs ! Great work!

[2022-03-17 08:09] aojea commented on #16
impressive,

now, if we want to be paranoid https://groups.google.com/g/golang-nuts/c/MFZd6b8zQTQ/m/ISD96eyXtD4J  :smile:

[2022-03-17 20:19] aojea commented on #20
do you have an estimation on how much memory it needs?

[2022-03-17 20:22] ameukam commented on #20
Are we collecting this or keep it in the log ?

[2022-03-17 20:24] BobyMCbobs commented on #20
@aojea, unsure yet on memory usage but expect it to be minimal with the PR

[2022-03-17 20:31] BobyMCbobs commented on #20
@ameukam, in order to redirect based on IP this is how the real source IP would be gotten. Unsure if it's the same header in Cloud Run

[2022-03-17 20:33] aojea commented on #20
a full Internet rib dump is about 1G https://data.ris.ripe.net/rrc00/

[2022-03-17 20:35] BobyMCbobs commented on #20
@aojea, this data will be pre-processed and ready to be picked up by the service as a plain CSV file

[2022-03-17 20:39] dims commented on #20
@BobyMCbobs please avoid a goroutine that runs in-process of the oci-proxy, let's split that into a separate go program that processes the data and spits out a file.

the oci-proxy can watch using inotify on the file and update the in-memory lookup table when the file is refreshed.

[2022-03-17 20:43] aojea commented on #20
yeah, but a binary compressed that will be several factors greater in csv, where are you going to store the data, are you going to query it directly from the file?

[2022-03-17 20:43] BobyMCbobs commented on #20
How does Google Cloud Run go with running multiple containers together and sharing data? I haven't played around with it.

Thank you for your advice @dims, this sounds good.

[2022-03-17 20:47] BobyMCbobs commented on #20
The output data for the file will just be a map of IP cidr to provider name after all of the ASN processing, so it shouldn't be overly large
[code]

@aojea, i'd suggest such a file be committed to a repo for easy fetching and store it on local ephemeral disk in the container (then load into memory).

[2022-03-17 20:48] BenTheElder commented on #20
I don't think we should take any of the approaches mentioned so far.

1) We currently have no indication that there will be providers beyond AWS, please let's focus on the immediate cost reduction and not add unnecessary complexity.

2) We may need to be region aware when redirecting, which is not something we can do with ASN data.

3) IP addresses allocated to AWS are very infrequently updated, t

[2022-03-17 20:49] dims commented on #20
ok cool. let's stop iterating here then @BobyMCbobs

[2022-03-17 20:51] dims commented on #20
@BenTheElder let's carve off the number 2. into a separate issue and assign to @jaypipes please

[2022-03-17 20:52] BenTheElder commented on #20
Also noting: Naive golang CIDR checking even with pre-parsing is *substantially* slower than e.g. a compressed trie (which is what Linux uses for routing). I lost the exact numbers but I have benchmarks and it was at least multiple orders of magnitude off the top of my head even with a pretty generic off the shelf implementation. The performance considerations are a bit different if we need to mat

[2022-03-17 20:59] BobyMCbobs commented on #20
Why do you say that?

I believe this solution will help with cost reduction and is the right way to go.

as noted in the desciption, in public-log-vendor-matcher, IP ranges are pulled in from each vendor
https://github.com/kubernetes/k8s.io/blob/155fea4000adc9362b85c8b89b68480abcc1dac8/images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh#L51-L67
this will be combined with

[2022-03-17 20:59] BenTheElder opened #22 "determine if redirector needs to be AWS-region aware"
We have two scenarios still on the table for handing off traffic to AWS for AWS clients:

1. We route to cloudfront + s3 or ecr or otherwise some other endpoint that is global and handles serving regional copies internally.

2. We ourselves have regional data storage (e.g. an s3 bucket per continent, region ...) and we need to perform region mapping ourselves before redirecting.

Both of these sho

[2022-03-17 21:00] dims commented on #20
@BobyMCbobs we should be laser focused on cost-reduction first. so i agree with @BenTheElder

[2022-03-17 21:12] BenTheElder commented on #20
In ~5 years of infra migration we do not have any resources of this type from vendors beyond GCP and AWS*, and we're still determining the AWS bits.

There are many things that will need to be considered before we scale out to additional providers (consider e.g. the behavior of the image promoter and failure with pushing to N>2 providers, when any one provider fails?), and we should not allow thos

[2022-03-17 21:14] BenTheElder opened #23 "integration testing"
We should perform an integration test in presubmit. As any additional code complexity is added and we start to roll out registry.k8s.io to projects, it is very important that we test thoroughly, and unit testing alone will not be sufficient.

We should start by having a tool like crane pull an image through a locally running copy of archeio in an integration test target, and adding this to CI.

[2022-03-17 21:17] BenTheElder opened #24 "full e2e testing"
See also https://github.com/kubernetes-sigs/oci-proxy/issues/23

In addition to integration testing, we should start fully e2e testing a deployed copy of archeio on cloud run in an environment matching what we intend to run at registry.k8s.io.

We could do so by auto-deploying an image to registry-sandbox.k8s.io following merge of changes in this repo.

Probably this is most readily accomplished b

[2022-03-17 21:18] BenTheElder commented on #23
See also https://github.com/kubernetes-sigs/oci-proxy/issues/24 for full e2e testing post-merge.

[2022-03-17 21:20] BenTheElder opened #25 "bake version info into binary for logging"
we have version info in the tags we push, but we should probably also bake it into the binary for logging. we can use a golang x-def and update the build commands.

ideally this should be fully sortable git info, see https://github.com/kubernetes-sigs/kind/issues/2618, and also a starting non-fully-sortable version of embedding this info in a similar makefile in that repo as a starting point.

[2022-03-17 21:21] ameukam commented on #22
cc @jaypipes @dims

[2022-03-17 21:23] ameukam commented on #23
/assign

/sig k8s-infra

[2022-03-17 21:24] ameukam commented on #23
Ref: https://github.com/kubernetes/k8s.io/issues/3411

[2022-03-17 21:25] ameukam commented on #24
/sig k8s-infra

Ref: https://github.com/kubernetes/k8s.io/issues/3411

Requirements:
  - Ensure  continuous deployment for `registry-sandbox.k8s.io`

[2022-03-17 21:26] BenTheElder commented on #22
Adding: k8s.gcr.io currently handles mapping to {us,eu,asia}.gcr.io/$actual-registry*, so the redirector uses approach 1) today. I think approach 2) looks quite doable for us though (we will need to push to each and then match region IPs https://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html in the redirector), I'm not sure if this is better cost wise than e.g. cloudfront + s3.

* The GC

[2022-03-17 21:27] ameukam commented on #25
/sig k8s-infra

Ref: https://github.com/kubernetes/k8s.io/issues/3411

Possible to use https://tip.golang.org/doc/go1.18#debug/buildinfo ?

[2022-03-17 21:28] hh commented on #20
I agree let's laser focus on AWS.

Let's start with ip-ranges.json, but understand that we may need to include AWS ASN IP ranges later.

Our current spend calculations have shown include the ASN data, and I am under the impression it may be a considerable percentage of the money. @Riaankl ?

[2022-03-17 21:30] BenTheElder opened #26 "primary upstream backend should be overridable with runtime config"
We should add an environment variable to allow override k8s.gcr.io. This could be useful in testing, and importantly it will allow us to potentially move to some new *.gcr.io as the upstream if we ever manage to update k8s.gcr.io to point to our redirector, which will still be backed by the registries behind k8s.gcr.io in part.

[2022-03-17 21:44] ameukam commented on #26
/sig k8s-infra

Ref: https://github.com/kubernetes/k8s.io/issues/3411

[2022-03-17 22:39] BobyMCbobs commented on #17
Added metrics in https://github.com/kubernetes-sigs/oci-proxy/pull/27

[2022-03-17 23:05] BenTheElder commented on #17
Not sure how best to export it, but cloud run collects a lot of automatic trace data, see e.g.:
<img width="1637" alt="Screen Shot 2022-03-17 at 3 59 46 PM" src="https://user-images.githubusercontent.com/917931/158907803-5431f167-979c-450c-bcde-932703467c66.png">

I'm not sure we need custom metrics.

These things are already logged AFAICT:
<img width="1584" alt="Screen Shot 2022-03-17 at 4 02 49

[2022-03-17 23:24] BenTheElder commented on #26
/assign

[2022-03-18 01:34] Riaankl commented on #20
To generate the Data Studio Graphs for consumption per provider we used not only the content of [ip-ranges.json](https://ip-ranges.amazonaws.com/ip-ranges.json) but also [ANS data](https://github.com/kubernetes/k8s.io/blob/main/registry.k8s.io/infra/meta/asns/amazon.yaml) in attempt to assign the largest possible number of IPs to their respective owners.

We are busy splitting out the differance b

[2022-03-21 18:31] Riaankl commented on #20
We updated the log data to see the differance between Amazon.ip-ranges.json and Amazon.ASN.
Our conclusion is the for the last 30 days 6.5% of the traffic belong to Amazon IPs that was identified using the ASN and not the  ip-ranges.json.

[2022-03-21 21:56] #26 closed

[2022-03-21 22:03] BenTheElder commented on #25
it might be if we upgrade to 1.18!

/help

[2022-03-22 01:24] BobyMCbobs opened #29 "Add `preset-use-new-registry` to various jobs"
In order to add some production load testing on the registry.k8s.io redirection, a request from @dims is to add the label `preset-use-new-registry=true` so that some e2e tests that pull images can pull through the new registry

ref: https://kubernetes.slack.com/archives/CCK68P2Q2/p1647896105383489

[2022-03-22 01:28] hh commented on #29
It looks like we need to add the label accord to the pattern lied down by this PR: https://github.com/kubernetes/test-infra/pull/25608/files

To roughly 272 `kubekins-e2e` jobs that end up using **kube-up.sh**

https://cs.k8s.io/?q=kubekins-e2e&i=nope&files=config%2Fjobs&excludeFiles=&repos=kubernetes/test-infra

@dims / @ameukam Caleb will do all these in a single PR unless you prefer something e

[2022-03-22 01:35] dims commented on #29
@hh let's target them in some smaller batches. let's try say the sig-release informing first. then sig-release blocking.

[2022-03-22 03:03] BobyMCbobs commented on #29
@hh and I were unsure about which of the [kubekins-e2e jobs in _config/jobs/kubernetes/sig-testing_](https://cs.k8s.io/?q=kubekins-e2e&i=nope&files=config%2Fjobs%2Fkubernetes%2Fsig-testing&excludeFiles=&repos=) need to be modified. Any thoughts, @dims?

[2022-03-22 11:54] dims commented on #29
@BobyMCbobs probably nothing there. you can look for `scenario=kubernetes_e2e` you will see 2 of them in that sub-tree. but both are "local" deployment which means they run local-up-cluster.sh and NOT the kube-up scripts.

[2022-03-22 21:55] dims commented on #29
@BobyMCbobs looks like we are missing pieces of information floating about ... Let me recap!

[code]

[2022-03-23 21:55] ameukam commented on #16
@BobyMCbobs is it possible to disclose/document somewhere how this is was done ? (may be https://git.k8s.io/k8s.io/registry.k8s.io ?). Could be really useful if someone else want to re-do it.

[2022-03-23 23:09] hh commented on #20
Thanks for putting this in the backlog.

[2022-03-24 00:48] BobyMCbobs commented on #16
@ameukam, of course. I'll get back to you on that

[2022-03-24 03:43] hh commented on #29
Should images-containerd.json still contain the updated image pull locations? @BenTheElder noted that they might not be in the logs, even with logs turned up.

https://github.com/kubernetes-sigs/kind/pull/2688#issuecomment-1075460964

[2022-03-24 13:31] jaypipes commented on #22
ref: https://github.com/kubernetes-sigs/oci-proxy/issues/20#issuecomment-1077629290

[2022-03-24 14:18] dims commented on #29
@hh if you use the preset, you will see the new registry in the images-containerd.json.

For places where we edit the containerd.toml to add a mirror, that will NOT have the registry.k8s.io in images-containerd.json.

[2022-03-24 17:11] dims commented on #20
@BenTheElder @BobyMCbobs So in OCI-proxy, we use something like https://github.com/yl2chen/cidranger with the data in https://ip-ranges.amazonaws.com/ip-ranges.json and we get a thumbs up/down if the incoming IP address is from AWS or not (and we would route the traffic to cloudfront at that point if so)?

[2022-03-24 17:19] BenTheElder commented on #20
I'm not really worried about the compute in the redirector, the cost will be pretty similar to detect region or detect AWS on the whole we can use fast matching for both.

What I do want to know is what is most reasonable on the AWS side for our problem, so we're not wasting unnecessary resources there. On the GCP side we've wound up doing the equivalent of regional redirecting in a special servic

[2022-03-24 22:33] hh commented on #22
From https://kubernetes.slack.com/archives/CCK68P2Q2/p1648159238576869?thread_ts=1648085463.736569&cid=CCK68P2Q2

I'll take on generating this via gustil or go. Do we have a list of buckets used by k8s.gcr.io?

[2022-03-25 05:46] ameukam commented on #22
To be more specific, `k8s.gcr.io` do the mapping to 3 [mutli-regions](https://cloud.google.com/storage/docs/locations#location-mr) buckets and the image layers are replicated between them :

| Bucket name | Total Size | Object  total count* |
| -------- | -------- | -------- |
| `gs://asia.artifacts.k8s-artifacts-prod.appspot.com`     | 1.07 TB  |  93875   |
| `gs://eu.artifacts.k8s-artifacts-prod

[2022-03-25 18:50] BenTheElder commented on #22
It's also probably worth noting that the bulk of those images are likely not often requested, since we continue to host e.g. the very oldest Kubernetes releases that hopefully few are using today :-)

[2022-03-29 00:56] dims commented on #22
@jaypipes @hh is this info enough for you?

[2022-03-29 01:48] hh commented on #22
I believe so. @jaypipes ?

[2022-03-29 14:03] jaypipes commented on #22
yup.

[2022-03-30 06:46] BenTheElder opened #34 "drop registry v1 support"
This is pointless code bloat at this point apparently, GCR doesn't even serve it and it's unlikely clients were trying to use it / it doesn't support multi-arch images so the past many k8s releases probably would not really work through it ...

ref: https://github.com/kubernetes-sigs/oci-proxy/pull/28#discussion_r831571816

should be a clean, simple PR. we can do further refactors in the future.

[2022-03-30 06:49] ameukam commented on #34
/kind cleanup

[2022-03-30 06:50] ameukam commented on #34
FYI [GCR ](https://gcr.io) is OCI compliant and respect the Image distribution spec: https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pull=

[2022-03-30 06:58] BenTheElder commented on #34
Yeah, IIRC v1 predates OCI spec and comes purely from docker/docker inc. We should be safe to drop it, it's a hold over from Tim's prototype which constitutes most of the code we have currently.

[2022-03-30 07:16] BenTheElder commented on #25
TLDR: no.

1. That package is used to read build info from entire (on disk or embedded in memory) binaries. The main debug package can be used to get info though.
2. ... but buildinfo for untagged versions / current development has the main module version just as `(devel)`
3. .... and even the buildinfo build settings metdata just has vcs ("git"), commit hash, and timestamp, we want something clos

[2022-03-31 02:37] #22 closed

[2022-03-31 02:38] BenTheElder commented on #22
per the call we are doing 2) with a mapping from regions to the nearest bucket, we'll have a bucket in the top N regions.

I've taken the action item to update the redirector to handle this, we also have related items to have image promotion support pushing to these buckets and to figure out what regions to use.

we should move region selection to a new issue. s3 bucket pushing also will have an i

[2022-03-31 06:50] ameukam opened #37 "tag archeio following semver"
We should tag `archeio` with semanting versioning : https://semver.org/

/priority important-soon
/milestone v1.24

[2022-03-31 06:55] ameukam commented on #37
/sig k8s-infra
/area artifacts

/assign @BenTheElder

[2022-03-31 12:37] ameukam opened #38 "determine which AWS regions should serve the image layers"
Part of:
  - https://github.com/kubernetes/k8s.io/issues/3411

Follow up of:
  - #22

Determine if we should push the image layers to all the AWS regions or pick the regions where we want to push them.
List of AWS S3 regions: https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region

[2022-03-31 12:40] ameukam commented on #38
/kind feature
/sig k8s-infra
/sig release
/area release-eng
/area artifacts
/milestone v1.24

/assign @BenTheElder @jaypipes
cc @BobyMCbobs @dims

cc @kubernetes-sigs/release-engineering

[2022-03-31 15:47] #34 closed

[2022-03-31 15:47] BenTheElder commented on #37
It's tagged, but we need to promote the image https://github.com/kubernetes-sigs/oci-proxy/releases/tag/v0.0.1

[2022-03-31 15:56] BenTheElder commented on #38
Probably by hand, to the nearest region for regions that aren't 1:1.
That's a different issue we will work into as part of implementing the redirecting.

[2022-03-31 21:05] hh opened #39 "oci-proxy should redirect per-AWS region"
Here are the regions (and ASNs) we need to oci-proxy to actively redirect.

@ameukam is creating the AWS infra in https://github.com/kubernetes/k8s.io/issues/3568.

If we treat Amazon ASNs not in ip-ranges.json as a type of region, then it’s #4 at 11.12% of Amazons total:

- 21.5% : us-west-2
- 16.7% : us-west-1
-  13% : us-east-1
- 11.1% : Other Amazon ASNs (not in ip-ranges.json, but collected i

[2022-03-31 21:20] ameukam commented on #39
/assign @BenTheElder @jaypipes

/sig k8s-infra
/priority backlog
/milestone v1.24

[2022-03-31 21:22] ameukam commented on #39
Why 2 percentages for the same region ?

[2022-03-31 21:38] Riaankl commented on #39
![image](https://user-images.githubusercontent.com/61125752/161153529-e16ad1ae-7b56-44cd-98c9-690f849f13df.png)

[2022-03-31 22:03] Riaankl commented on #39
@hh typo.
We got the graph now ^^

[2022-03-31 22:06] BenTheElder commented on #39
how did we go from 6.5% to 20%? https://github.com/kubernetes-sigs/oci-proxy/issues/20#issuecomment-1077629290

[2022-03-31 22:13] hh commented on #24
This was mentioned as an AI in the March 30th #sig-k8s-infra meeting.

@dims requested one parallel Conformance CI job that uses registry-sandbox.k8s.io  including testgrid dashboard as we want to monitor that the sandbox redirector is production ready.

Do we have an existing job identified or do you want us to create a new one based on an existing one?

registry.k8s.io PROD is a plain redirect,

[2022-03-31 22:13] hh commented on #24
/assign @BobyMCbobs

[2022-03-31 22:25] hh commented on #39
6.5% was the total across our entire spend... this number is only across our Amazon spend.

[2022-03-31 22:26] Riaankl commented on #39
80/20 Work out exactly.
6 of the 27 regions account for 80% of the traffic, and 6/27=21.4%
20% of the regions account for 80% of the traffic.
[Vilfredo Pareto](https://en.wikipedia.org/wiki/Pareto_principle) would be so proud that it still work that way!

[2022-03-31 22:33] aojea commented on #39
lol

[2022-03-31 23:29] hh commented on #13
@BobyMCbobs do you and I have access to what is needed for registry-sandbox work?

[2022-03-31 23:30] hh commented on #16
Do we want to stress test anymore or can we close this ticket.

[2022-03-31 23:32] jaypipes commented on #39
@hh @Riaankl @BenTheElder OK, my advice is just disregard for now the IPs that are assigned with an ASN known to be an Amazon ASN that do not appear in the ip-ranges.json file. I don't know where those are coming from but let's just deal with the ones in ip-ranges.json that we see more than, say, 2% of total container image pulls coming from.

So, disregarding those non-ip-range.json IPs, we get t

[2022-03-31 23:40] dims commented on #16
@hh we can close this out

[2022-03-31 23:48] hh commented on #39
:100:

[2022-03-31 23:59] Riaankl commented on #39
I agree @jaypipes
The ANS matched IPs account for 11.12% of all AWS data and <6% of the total data set for all IPs.
If we get all the IPs matched via  ip-ranges.json file to redirect it a great win.
In the Pareto chart I only included IPs with regions detected via ip-ranges.json.
![image](https://user-images.githubusercontent.com/61125752/161168950-894d97c0-3d9c-41c6-96bb-473c8120f05a.png)

[2022-04-01 00:06] BenTheElder commented on #13
So we actually have a sandbox deployment running now.

But this should be auto-deployed by automation rather than humans, right now it is deployed by Arnaud.

[2022-04-01 00:07] BenTheElder commented on #13
And we've since stoodup a "production" deployment which we'll pin to the tagged redirect only image we published today.

[2022-04-01 00:07] #16 closed

[2022-04-01 00:07] BenTheElder commented on #16
Thanks folks!

[2022-04-01 01:39] hh commented on #39
Initial sources for ASN research https://github.com/kubernetes/k8s.io/issues/1834#issuecomment-815431544

[2022-04-01 03:12] jaypipes commented on #38
The following regions should serve the image layers:

* us-west-2
* us-west-1
* us-east-1
* eu-central-1
* eu-central-1
* us-east-2
* ap-southeast-1
* us-west-1
* ap-northeast-1
* ap-south-1

Those 10 regions cover more than 90% of the source traffic for AWS customers pulling container images.

[2022-04-01 17:27] BenTheElder commented on #38
xref: https://github.com/kubernetes-sigs/oci-proxy/issues/39 which seems to have wound up with most of the region selection discussion rather than this issue.

[2022-04-01 17:28] BenTheElder commented on #39
[I have been actively continuing development on this]

[2022-04-11 04:13] BobyMCbobs opened #41 "Update build service account permissions"
Recently https://github.com/kubernetes-sigs/oci-proxy/pull/40 was merged,
the build IAM user must have sufficient permissions.

Here's the job not succeeding
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-oci-proxy-push-images/1512412123450314752

In my experimentation I set up the roles something like this.
[code]

Where might the permissions be managed?

[2022-04-11 04:16] BobyMCbobs commented on #41
An alternative might be to use a ProwJob with alternate service account, but adapting the permissions with mean for less

[2022-04-13 20:19] hh commented on #29
Hold off for now. There is enough traffic. Waiting for 1.25 (add label)

[2022-04-13 20:23] hh commented on #38
/close feedback from @jaypipes on #sig-k8s-infra call

[2022-04-13 20:43] hh commented on #24
@BenTheElder we need a staging deploy that against the staging deploy that is on a dashboard that alerts some of this group. Enough to start. (AGAINST STAGING)

Once we start merging this matching and redirecting code, staging will have the new changes and pre-rollout environment.

Possible another issue about integration testing in presubmit and spin up an integration later.

[2022-04-13 21:20] ameukam commented on #38
/close

[2022-04-13 21:20] #38 closed

[2022-04-14 20:33] #37 closed

[2022-04-15 18:18] BenTheElder opened #45 "re-enable linters when golangci-lint is go1.18 ready"
ref: https://github.com/kubernetes-sigs/oci-proxy/pull/42/commits/14eeea750864e7f31e07fe1e1413de409d102b30

https://github.com/golangci/golangci-lint/issues/2649

golangci-lint is also disabling some linters itself, we will need to update versions when there is a fixed version. see above linked issue

/help

[2022-04-15 23:19] BenTheElder commented on #39
Please, let's not editorialize this.

To be clear:
1. We can match approximately 89% of AWS traffic to a region using ip-ranges.json data per the analysis here
2. AWS Traffic is something like 50%+ of total traffic to the registry, which would put this at say > 45% of total traffic.
3. 80% _of AWS traffic_ (**not** total traffic) is an estimate of how much we will handle *with a specific set of re

[2022-04-15 23:26] dims commented on #39
@BenTheElder Agreed!

@hh @calebamiles @Riaankl Please see above

[2022-04-15 23:27] BenTheElder commented on #39
https://github.com/kubernetes-sigs/oci-proxy/pull/42 implements a library to ~efficiently perform "given an IP, determine the AWS region"

https://github.com/kubernetes-sigs/oci-proxy/pull/47 (WIP) implements the rest:
- identify blob requests
- given an HTTP request, determine the client-ip for a local client in development or when behind GCLB in cloud run
- given the client IP of a blob request,

[2022-04-15 23:29] BenTheElder commented on #39
We should close this after rolling out #47 to the sandbox, and follow up with standing up buckets for https://github.com/kubernetes-sigs/oci-proxy/issues/38  in https://github.com/kubernetes/k8s.io/issues/3568 + https://github.com/kubernetes/k8s.io/issues/3620 + https://github.com/kubernetes-sigs/promo-tools/issues/533

[2022-04-15 23:39] BenTheElder commented on #20
Given that going forward the proxy is responsible for routing to regionalized copies, we definitely need data more specific than the organization (specifically we need to know which AWS region is associated with the client IP).

We've determined with AWS that this (s3 bucket per region we host, redirect to those buckets based on client location) is the cost effective route to go architecturally gi

[2022-04-15 23:39] #20 closed

[2022-04-20 21:20] #39 closed

[2022-04-20 21:39] BenTheElder commented on #23
done in #47

[2022-04-20 21:39] #23 closed

[2022-04-20 21:40] BenTheElder commented on #24
integration is done #23, we maybe have a dashboard? https://github.com/kubernetes/test-infra/pull/25964

need to get alerting, autodeploy.

[2022-04-20 22:47] BobyMCbobs commented on #24
@BenTheElder, autodeploy is currently built but waiting on #41. The permissions for the build account must have access to roles/run.admin to update the services

[2022-04-21 17:48] ameukam opened #55 "Docker client fails to download from the sandbox"
After a auto-deployment of `archeio`, `e2e-kops-grid-gcr-mirror-canary` is failing:

See https://testgrid.k8s.io/sig-k8s-infra-oci-proxy#kops-grid-gcr-mirror-canary

[code]

Seems like an issue with IP address parsing

/kind bug
/sig k8s-infra
/area artifacts
/milestone v1.24

[2022-04-21 17:50] ameukam commented on #55
/asssign @BenTheElder

[2022-04-21 18:44] #55 closed

[2022-04-21 18:47] BenTheElder commented on #24
the dashboard is now working and caught #55, thanks all!

[2022-04-21 18:47] #24 closed

[2022-04-21 18:48] BenTheElder commented on #41
https://github.com/kubernetes/k8s.io/issues/3577#issuecomment-1105631745 done

[2022-04-21 18:48] #41 closed

[2022-04-21 18:49] BenTheElder commented on #13
thoroughly stoodup, see also #24, #55

[2022-04-21 18:49] #13 closed

[2022-04-21 18:56] BenTheElder commented on #55
started an early re-run to monitor https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-gcr-mirror-canary/1517215463120048128

[2022-04-21 19:42] BenTheElder commented on #55
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-gcr-mirror-canary/1517215463120048128 passed

[2022-04-21 20:01] BenTheElder opened #58 "increase log level in sandbox deployment"
we should log lots of stuff in the sandbox so we can verify what is happening, but not in prod with the scale of requests we expect there.

we already have klog with verbosity levels, let's increase it a bit in the sandbox deployment, and then add some more verbose-only logging.

[2022-04-21 20:02] ameukam commented on #58
/kind feature
/milestone v1.24
/priority important-soon

[2022-04-21 20:54] #58 closed

[2022-04-22 13:26] ameukam opened #62 "Privacy policy for registry.k8s.io ?"
Just questioning the need of the privacy policy. From https://groups.google.com/a/kubernetes.io/g/dev/c/DYZYNQ_A6_c/m/oD9_Q8Q9AAAJ, we may have individuals using their personal IP address.

`registry.k8s.io` currently runs on GCP infrastructure. This means all GCP services we use are covered by [Google privacy policy ](https://www.google.com/intl/en/policies/privacy/)

I took a quick look on what

[2022-04-22 19:55] BenTheElder opened #63 "workaround broken cloud run X-Forwarded-For header"
See details debugged in https://github.com/kubernetes-sigs/oci-proxy/pull/61#issuecomment-1105824535

/assign

been looking into the best forward plan for this, given it seems likely the bug will eventually be fixed.
will send a PR soonish hopefully.
/kind bug
/sig k8s-infra

[2022-04-22 21:41] aojea commented on #63
but that are the consequences of the extra ip in the headers? is breaking the registry?

[2022-04-22 22:39] BenTheElder commented on #63
if we detect the client is always the GCLB IP, then we will never direct to AWS 🙃

[2022-04-22 23:11] dims commented on #63
LOL true dat Ben! :)

[2022-04-23 06:25] #63 closed

[2022-04-23 07:16] BenTheElder commented on #63
this is working:

[2022-04-25 01:09] dims commented on #29
we can close this as well. if we need to, we can revive it.

[2022-04-25 01:09] #29 closed

[2022-04-27 20:44] BenTheElder opened #69 "document testing regimen"
/assign
/sig k8s-infra

[2022-04-27 20:44] BenTheElder opened #70 "document request handling flow"
/assign

[2022-04-27 20:51] Riaankl commented on #62
/assign @dims

[2022-04-28 10:30] dims commented on #62
I really like the standalone https://proxy.golang.org/privacy

Looks like CNCF has one for the mailing lists - https://lists.cncf.io/static/privacy

[2022-04-28 10:33] dims commented on #62
maven has one too https://repo1.maven.org/terms.html

[2022-04-30 19:43] dims commented on #62
There is a LF level privacy policy - https://www.linuxfoundation.org/privacy-policy/

But not one at the CNCF level.

[2022-04-30 19:59] dims commented on #62
xref: https://github.com/cncf/foundation/issues/337

[2022-04-30 20:03] dims commented on #62
Question asked on slack here: https://cloud-native.slack.com/archives/C0MP69YF4/p1651348982279889

[2022-04-30 20:06] dims commented on #62
Answer from @caniszczyk is to link to the LF Privacy Policy - https://www.linuxfoundation.org/privacy-policy/

[2022-05-02 20:14] #70 closed

[2022-05-04 18:06] ameukam opened #72 "Mapping AWS regions and S3 bucket region"
Part of:
  - https://github.com/kubernetes/k8s.io/issues/3411

From https://github.com/kubernetes-sigs/oci-proxy/issues/39, we identified which region the traffic come the most but we need to ensure redirection for traffic coming from regions not listed.
We could also assume the rest of regions are served from only 1 bucket but they is a risk of high latency during image pulling.

Draft:

| region

[2022-05-10 02:45] BenTheElder commented on #72
cc @jaypipes

I would guess:
- ap-southeast-3 => ap-southeast-1
- ap-northeast-3 => ap-northeast-1
- ap-southeast-2 => ap-southeast-1
- sa-east-1 => us-east-1

[2022-05-10 18:54] Riaankl commented on #72
Looking at the Data Studio report all four regions <2% total

[2022-05-10 20:02] BenTheElder commented on #72
So the remaining bit then is just mapping the regions to their bucket names, then we can update https://github.com/kubernetes-sigs/oci-proxy/blob/main/cmd/archeio/app/buckets.go

[2022-05-12 03:23] #69 closed

[2022-05-27 17:26] BenTheElder opened #74 "fix broken kops-AWS registry-sandbox e2e CI"
https://testgrid.k8s.io/sig-k8s-infra-oci-proxy#kops-grid-gcr-mirror-canary

xref: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1251, https://kubernetes.slack.com/archives/C8MKE2G5P/p1651005000692509

possible workaround: disable the driver and disable the CSI tests, we can do with other coverage.

[2022-05-27 18:38] BenTheElder commented on #74
fixed by https://github.com/kubernetes/test-infra/pull/26431

[2022-05-27 18:38] #74 closed

[2022-05-31 22:40] BenTheElder opened #75 "Alerting for production deployment?"
https://github.com/kubernetes/kubernetes/pull/109938#pullrequestreview-990722588

[2022-05-31 22:42] BenTheElder opened #76 "production deployment should be gitops"
We auto deploy the registry-sandbox instance, and everything for that is configured either in k8s.io terraform, or in the make rule backing `make deploy` / the cloudbuild.yml for this repo.

The production configuration currently seems to only be partially source controlled, the production (registry.k8s.io) cloud run deployment appears to still be manually submitted by @ameukam

Now that kubernete

[2022-06-01 10:32] ameukam commented on #75
/assign

[2022-06-01 10:45] ameukam commented on #75
/sig k8s-infra
/priority important-soon
/milestone v1.25

[2022-06-16 05:30] ameukam commented on #17
/remove-lifecycle stale

[2022-06-22 20:49] BenTheElder opened #77 "regionalize GCR in oci-proxy"
Since k8s.gcr.io regionalizes to {eu,us,asia} GCR registries today, *if* we have the GCR team help us reroute the traffic to this domain to registry.k8s.io / oci-proxy, then we will need to regionalize ourselves.

With that team and then with the community in the SIG k8s infra meeting we've discussed the approach of simply doing:
- GCLB routes to the local cloud run instance
- local cloud run inst

[2022-06-23 06:34] BenTheElder commented on #77
AIUI cloud-run services are regional, we have configured a loadbalancer in front of N regional services.

So we should be able to do this without any code changes actually, just setting `UPSTREAM_REGISTRY` env per each service / region.

[2022-06-23 08:42] ameukam commented on #77
The current HCL code handling the cloud-run services don't really allow to do that. There is only one HCL construct to handle all the cloud-run services:

https://github.com/kubernetes/k8s.io/blob/58af71b38de3493b76b0440dff817e07f68795c9/infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy-prod.tf#L82-L121

 We need to split between one construct per continent or construct per region.

[2022-06-23 21:41] BenTheElder commented on #77
ACK -- that's fine, the point is that it's technically feasible and actually doesn't even require additional complexity in the runtime code, it will definitely add a touch to the deployment config.

[2022-06-24 05:15] BenTheElder commented on #62
TODO (BenTheElder): update oci-proxy / archeio to serve a link to the LF privacy policy.

[2022-06-24 22:50] BenTheElder commented on #77
actually to clarify: it will need code change, because the API v2 endpoint is at us.gcr.io/v2 even though the registry is us.gcr.io/k8s-artifacts-prod

we will have to remap the URLs more intelligently than just substituting the base URL.

/assign

[2022-06-27 01:27] BenTheElder commented on #77
https://github.com/kubernetes-sigs/oci-proxy/pull/78 solves the auth problem with remapping registry.k8s.io/foo => us.gcr.io/k8s-artifacts-prod/foo

fairly minor code tweaks can inject the "k8s-artifacts-prod" aspect when needed.
I've hacked this up to prove that this issue is a viable approach, but I'll need to follow up with a clean PR.

so far I broke off the auth fix the other day, I'll follow

[2022-06-27 14:19] BenTheElder commented on #77
Thanks.

We should start by redirecting to the 3 backing GCR, so we immediately unlock the option to point k8s.gcr.io at the oci-proxy as soon as that's running.

Then later when/if we have the artifact registries up, we can flip to those in the deployment config at any time.

[2022-06-27 21:38] upodroid commented on #77
I'm thinking about doing the following:

- `registry.k8s.io`
  - Merge https://github.com/kubernetes/k8s.io/pull/3904
  - Apply 3904 to the prod project and modify each cloud run instance's `UPSTREAM_REGISTRY` to point to the closest `gcr.io/k8s-artifacts-prod` registry
  - Observe and see what is happening

- `registry-sandbox.k8s.io`
  - Agree on what the AR repo name should be, it needs to be f

[2022-06-28 07:52] ameukam commented on #25
/remove-lifecycle stale

[2022-06-28 16:17] BenTheElder commented on #77
We can't do that without another small change first, because of https://github.com/kubernetes-sigs/oci-proxy/issues/77#issuecomment-1166023548

I think we should move AR discussion to a follow-up issue, and keep this one to not depending on the k8s.gcr.io regionalizing.
I think that's the most pressing step, and a prerequesite for switching to AR.
AR also needs discussion with release / image prom

[2022-06-30 22:03] BenTheElder opened #79 "don't use permanent redirect"
these are temporary redirects

change the redirect code and tests

[2022-06-30 22:35] BenTheElder opened #80 "gate or temporarily compile out s3 redirect"
since the s3 buckets are still not ready, we should not block #77 rollout to registry.k8s.io on production s3 bucket availability.

I didn't think it would take this long, so I went with the simpler option of not gating s3 redirection / maintaining two modes, figuring we'd promote to production soon enough, and the initial production app is *literally* just bog simple 3XX to k8s.gcr.io so we can g

[2022-06-30 22:36] BenTheElder commented on #25
TODO: ban lifecycle bot from this repo.

[2022-06-30 22:42] BenTheElder commented on #79
The code I'm referring to is in cmd/archeio, there are detailed docs of the request flow and pretty detailed tests.

The redirect code and tests should be updated. This should probably be a 307 / temporary redirect.

[2022-06-30 22:43] BenTheElder commented on #62
I'm going to file a new issue to preserve the history here but track *Actually linking* the LF policy

[2022-06-30 22:43] #62 closed

[2022-06-30 22:45] BenTheElder opened #81 "serve privacy policy"
We determined in #62 that we should be operating under the linux foundation privacy policy

However, archeio does not itself serve the privacy policy in any way.

We should add an endpoint for humans like `/privacy` (this is fine, registry API calls are all under `/v2/`) that redirects to the LF privacy page to start.

It might be worth considering a landing page with some context and a link to th

[2022-06-30 22:45] BenTheElder commented on #79
I don't think _any_ of our redirects are semantically permanent.

[2022-06-30 22:59] BenTheElder commented on #80
Ordinarily for `help wanted` issues the author would probably help guide contributors, but I am going on vacation for a few weeks and will be relatively unavailable until sometime after July 25th.

`@ameukam` and `@dims` are repo approvers / admins and should be able to help in the meantime.

See also https://kubernetes.slack.com/archives/CCK68P2Q2/p1656629484801139?thread_ts=1656626472.238269&cid

[2022-06-30 23:00] BenTheElder commented on #77
Ordinarily for `help wanted` issues the author would probably help guide contributors, but I am going on vacation for a few weeks and will be relatively unavailable until sometime after July 25th.

`@ameukam` and `@dims` are repo approvers / admins and should be able to help in the meantime.

See also https://kubernetes.slack.com/archives/CCK68P2Q2/p1656629484801139?thread_ts=1656626472.238269&cid

[2022-06-30 23:00] BenTheElder commented on #45
Ordinarily for `help wanted` issues the author would probably help guide contributors, but I am going on vacation for a few weeks and will be relatively unavailable until sometime after July 25th.

`@ameukam` and `@dims` are repo approvers / admins and should be able to help in the meantime.

See also https://kubernetes.slack.com/archives/CCK68P2Q2/p1656629484801139?thread_ts=1656626472.238269&cid

[2022-06-30 23:01] BenTheElder commented on #25
I think this is deep on the backlog, it sounds nice to have, but we also have other ways to see what cloudrun is up to and we're only using tagged images in production.

Ordinarily for `help wanted` issues the author would probably help guide contributors, but I am going on vacation for a few weeks and will be relatively unavailable until sometime after July 25th.

`@ameukam` and `@dims` are repo

[2022-06-30 23:01] BenTheElder commented on #79
Ordinarily for `help wanted` issues the author would probably help guide contributors, but I am going on vacation for a few weeks and will be relatively unavailable until sometime after July 25th.

`@ameukam` and `@dims` are repo approvers / admins and should be able to help in the meantime.

See also https://kubernetes.slack.com/archives/CCK68P2Q2/p1656629484801139?thread_ts=1656626472.238269&cid

[2022-06-30 23:02] BenTheElder commented on #72
[this issue is blocked on the buckets being up and ready, so don't jump into working on this one just yet]

[2022-07-01 04:41] BenTheElder opened #83 "consider a more useful `/` redirect"
http://registry-sandbox.k8s.io/ redirects to https://github.com/kubernetes/k8s.io/tree/main/registry.k8s.io which doesn't actually contain anything we're using or any docs.

https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io) is probably a better URL for now?

cc @dims @ameukam

We should also probably apply #79 to paths like this, since we'll update it in t

[2022-07-01 04:42] BenTheElder commented on #83
Ordinarily for `help wanted` issues the author would probably help guide contributors, but I am going on vacation for a few weeks and will be relatively unavailable until sometime after July 25th.

`@ameukam` and `@dims` are repo approvers / admins and should be able to help in the meantime.

See also https://kubernetes.slack.com/archives/CCK68P2Q2/p1656629484801139?thread_ts=1656626472.238269&cid

[2022-07-01 15:32] BenTheElder commented on #80
alternatively if production buckets become ready, implement https://github.com/kubernetes-sigs/oci-proxy/issues/72 instead and then start looking at how e2e testing behaves. `@ameukam` or `@dims` can inspect the cloud run logs etc for request latency etc. once we have many regions.

[2022-07-01 15:33] BenTheElder commented on #72
xref #76 the staging deployment should run in the same regions so we can get realistic latency results vs production and these buckets

[2022-07-02 07:20] jeremyphua commented on #81
Hello! Is it alright if I take a look at this issue?

[2022-07-04 11:48] upodroid commented on #77
/assign

[2022-07-04 12:42] upodroid opened #89 "Analyze registry.k8s.io logs"
Continuing from https://github.com/kubernetes/k8s.io/issues/1343#issuecomment-1165393785

Cloud Run logs requests btw. It looks like this:

[code]

We can sink these logs to bigquery and start crunching data.

@BobyMCbobs @hh

[2022-07-04 12:43] upodroid commented on #89
/sig k8s-infra
/priority important-soon

[2022-07-04 12:59] #79 closed

[2022-07-04 13:32] ameukam commented on #81
/reopen

[code]

[2022-07-05 01:20] Riaankl opened #90 "Collecting log data for Data Studio reports to show registry.k8s.io success"
Once traffic is redirected via oci-proxy it would make sense to create Data Studio reports to show the success of the project.

Initially the cost saving should be visible in the monthly K8s Infra GCP Billing report.  However, as soon as head room has been created in monthly expenditure work could continue on mitigating the remaining K8s Infra componentes to community infa, which would again incre

[2022-07-05 01:25] BobyMCbobs commented on #90
Requires: https://github.com/kubernetes/k8s.io/issues/3929

[2022-07-05 03:55] BobyMCbobs commented on #90
/assign @Riaankl

[2022-07-18 15:19] #77 closed

[2022-07-18 20:33] BobyMCbobs commented on #80
The buckets appear to be all manually synced now and #82 is in a good state.

Is feature gating still necessary?

[2022-07-21 17:53] #80 closed

[2022-07-26 02:26] BenTheElder commented on #81
@ameukam can you add more context why this is reopened and what next steps are?

[2022-07-26 02:34] BenTheElder commented on #83
Accidentally reverted in https://github.com/kubernetes-sigs/oci-proxy/pull/87#discussion_r929470941, we should switch this again

[2022-07-26 06:31] ameukam commented on #81
On a second thought, we can close this.
/close

[2022-07-26 06:31] #81 closed

[2022-07-26 17:09] #83 closed

[2022-08-05 23:33] BenTheElder commented on #76
in addition: staging should match production as closely as possible, except for the image revision, and toggling environment variable overrides for gating new functionality

we have a limited / false sense of performance when the regions don't match because then we're talking to much more distant AWS regions https://kubernetes.slack.com/archives/CCK68P2Q2/p1659742065287909

[2022-08-07 21:37] BobyMCbobs opened #94 "Rename this repo to registry.k8s.io"
This repo is for an important piece of software that will be heavily used by the community when running.
I don't believe the name _oci-proxy_ currently chosen reflects the behaviour or function of the webserver, as it doesn't directly implement the OCI spec and does not act as a proxy but functions as a redirect with handling particular paths and headers.

I would suggest that the project live in

[2022-08-10 19:15] BenTheElder commented on #94
periods in the name is unusual at least, does github allow this?

I wouldn't block a rename to something more appropriate, but I also wouldn't sign up for this because the effort to do so tends to be pretty high (need to track down inbound links, CI configs, etc.)

cc @dims @ameukam

[2022-08-10 19:47] BobyMCbobs commented on #94
@BenTheElder periods in names are allowed, for example here's ii's repo for the test implementations:
https://github.com/ii/registry.k8s.io

[2022-08-10 20:36] endocrimes commented on #94
It's used in Kubernetes: https://github.com/kubernetes/k8s.io/ - that being said, I think I'd be more for relocating this into the main k org at the same time as a rename.

(by the time it becomes the main way to get our release artifacts being in the sigs org does feel a little hidden)

[2022-08-10 21:40] dims commented on #94
@BobyMCbobs i would run this by our github admins ( https://github.com/kubernetes/community/tree/master/github-management#github-administration-team )

+1 from me if you wish to own all the steps needed :)

[2022-08-10 23:22] BobyMCbobs commented on #94
I added a message in the _github-management_ channel regarding this issue
https://kubernetes.slack.com/archives/C01672LSZL0/p1660172586179179

[2022-08-10 23:44] cblecker commented on #94
Repo renames can be done by opening a request in the kubernetes/org repo: https://github.com/kubernetes/org/issues/new/choose

Our guidelines for repos are here: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md

For repos in kubernetes-sigs, the name is flexible and can be decided on by the sigs as long as it's descriptive enough for what it actually

[2022-08-11 00:53] hh commented on #94
I think `registry.k8s.io` likely fits under project-wide infrastructure, and the purpose would be pretty succinct :

[2022-08-11 03:28] BobyMCbobs commented on #94
Submitted a k/org issue for this here
https://github.com/kubernetes/org/issues/3605

[2022-08-11 22:32] Riaankl commented on #94
REQUEST: Migrate oci-proxy [#3605](https://github.com/kubernetes/org/issues/3605)

[2022-08-18 20:20] ameukam opened #97 "Cut 0.0.2 release"
We should cut a new tag for `archeio`. Lot of changes landed after the `0.0.1`

[2022-08-18 20:21] ameukam commented on #97
I think what's remaining before we cut the tag is https://github.com/kubernetes-sigs/oci-proxy/issues/72

/assign @BenTheElder
cc @dims

[2022-08-18 20:21] ameukam commented on #97
/sig k8s-infra
/kind feature
/milestone v1.25

[2022-08-18 20:22] BenTheElder commented on #72
this was done in https://github.com/kubernetes-sigs/oci-proxy/pull/82

[2022-08-18 20:22] #72 closed

[2022-08-18 20:23] BenTheElder commented on #97
#72 is done, just need to make a tag and push it, then promote the image

[2022-08-20 11:39] ameukam commented on #97
Tag created: https://github.com/kubernetes-sigs/oci-proxy/releases/tag/v0.0.2

[2022-08-22 11:44] ameukam commented on #97
Image matching the Github tag is promoted: https://github.com/kubernetes/k8s.io/pull/4117
/close

[2022-08-22 11:44] #97 closed

[2022-08-30 11:50] ameukam commented on #75
/remove-lifecycle stale

[2022-09-05 10:11] ameukam commented on #75
Alerts added for `registry.k8s.io` and `registry-sandbox.k8s.io`: https://github.com/kubernetes/k8s.io/pull/4145.

Follow-up would be to define SLOs and add latency-based alerts.

[2022-09-14 23:22] BenTheElder commented on #94
We'll need to update the CI jobs.

[2022-09-15 21:44] Riaankl commented on #94
/closed
Resolve in https://github.com/kubernetes/org/issues/3605

[2022-09-15 21:47] Riaankl commented on #17
/retitle Monitoring of registry.k8s.io

[2022-09-15 21:51] Riaankl commented on #90
/retitle Collecting log data for Data Studio reports to show registry.k8s.io success

[2022-09-15 21:52] Riaankl commented on #94
/close

[2022-09-15 21:52] #94 closed

[2022-09-15 21:54] Riaankl commented on #89
/retitle Access Logging registery.k8s.io

[2022-09-22 22:40] BobyMCbobs commented on #89
@upodroid @Riaankl, how should we coordinate the log processing with BQ?

Currently in ii's sandbox project, we have a dataset that we use for providing data to the community via a DataStudio report. It's generated through
https://github.com/kubernetes/k8s.io/tree/main/images/public-log-asn-matcher.
Perhaps the data could be combined in there? @Riaankl

I think we'd need some kinda link to be set

[2022-09-28 19:03] BenTheElder commented on #75
this is a dupe of https://github.com/kubernetes/registry.k8s.io/issues/17
/triage duplicate
/close

[2022-09-28 19:03] #75 closed

[2022-09-28 19:04] BenTheElder commented on #17
We have alerting in https://github.com/kubernetes/registry.k8s.io/issues/75#issuecomment-1236806204 (merging these)

We have some general metrics like QPS, memory and cpu usage, error rate, etc. out of the box by cloud run.

[2022-09-28 19:07] BenTheElder commented on #90
We should be able to see the change in GCR/GCS costs for k8s-artifacts-prod, which is the metric we're actually after.

Soon all traffic should flow through this project and the net cost change will still be the real success metric.

Even if we move X% of traffic to AWS that doesn't mean we moved X% cost, we should just look at the cost directly.

We can already see the breakdown of costs by speci

[2022-09-29 06:46] ameukam commented on #45
/remove-lifecycle stale

[2022-10-10 23:46] BenTheElder commented on #76
rough outline:
- add a service account with permission to deploy this
- setup a GCB postsubmit on k8s.io repo to do terraform apply of oci-proxy-prod

[2022-10-12 23:18] xeruf opened #115 "outage in europe-west3 (Frankfurt)"
My cluster is failing, unable to pull an image, and http://registry.k8s.io also spills out errors.
Is something going on here?

[2022-10-12 23:24] BenTheElder commented on #115
Can you please share more details?
We're not aware of an outage.

[2022-10-12 23:27] BenTheElder commented on #115
@ameukam may have found something affecting europe-west3 (GCP) that should resolved now xref: https://github.com/kubernetes/k8s.io/pull/4337

[2022-10-12 23:33] xeruf commented on #115
thanks, I am in Germany and our whole company was grinding to a halt as our tooling was awaiting the image :/ was able to switch to k8s.gcr.io in the meantime

[2022-10-12 23:36] BenTheElder commented on #115
k8s.gcr.io will be redirected to registry.k8s.io in the near future, so we should make sure the issue is resolved 😅

a small rollout will be coming next week.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.25.md#urgent-upgrade-notes-3

[2022-10-13 04:05] winggundamth commented on #115
I'm from Thailand and having a problem with registry.k8s.io too.

[code]

My GKE in SG region

[code]

[2022-10-13 05:01] BenTheElder commented on #115
@winggundamth thats not clearly related to the root cause of the original post here. Can you please file another issue with more details about your environment

[2022-10-13 06:01] BenTheElder opened #116 "error pulling image on GKE in Singapore"
Following https://github.com/kubernetes/registry.k8s.io/issues/115#issuecomment-1276999311 (which seems unrelated to the original issue, which was seemingly an issue with the loadbalancer when removing europe-west3), I couldn't reproduce locally, but I *can* reproduce the issue on a standard GKE cluster in `asia-southeast1-a`

1) create a standard cluster in asia-southeast1-a
2) `kubectl run --ima

[2022-10-13 06:04] BenTheElder commented on #116
On another, all-default cluster in `us-central1-c`, I do not see this issue.

[code]

[2022-10-13 06:09] BenTheElder commented on #116
From a workstation on the US west-coast I can pull the backing image for this region:
[code]

[2022-10-13 06:24] BenTheElder commented on #116
In `asia-southeast1`:
[code]

[2022-10-13 06:25] BenTheElder commented on #116
@ameukam found this is because asia-southeast1 has a cloud run region pointing at the matching AR region, but we have no AR instance there.

We need to audit that all the cloud run regions *do* have matching AR, we missed this one at least flipping from GCR to AR.

[2022-10-13 06:28] BenTheElder commented on #116
https://github.com/kubernetes/k8s.io/pull/4337 is where we moved to AR

[2022-10-13 06:41] BenTheElder commented on #116
Confirmed @ameukam has rolled out a fix for this:

[code]

[2022-10-13 06:41] #116 closed

[2022-10-13 06:51] ameukam commented on #115
@xeruf Any issue again ? Can we call this done ?

[2022-10-13 06:52] BenTheElder commented on #116
https://github.com/kubernetes/k8s.io/pull/4337 I've audited all of the regions, AFAICT this was the only affected region.

[2022-10-13 07:09] winggundamth commented on #115
For me I can confirm everything is working as expect now.

[2022-10-13 07:11] winggundamth commented on #116
Thank you @BenTheElder. Everything is working now

[2022-10-13 07:14] BenTheElder commented on #116
Thanks for the report and for confirming!

[2022-10-13 07:16] BenTheElder commented on #116
fix was merged in https://github.com/kubernetes/k8s.io/pull/4352

[2022-10-13 20:08] BenTheElder commented on #115
Will reopen if we see anything further, or you can comment `/reopen` and the bot will reopen.
This should be resolved, with no further reports.

[2022-10-13 20:08] #115 closed

[2022-10-25 20:08] BenTheElder opened #122 "document stance on allow-listing registry.k8s.io traffic"
We cannot afford to commit to the backing endpoints and details of registry.k8s.io being stable, the project needs to be able to take advantage of whatever resources we have available to us at any given point in time in order to keep the project afloat.

As-is, we're very close to running out of funds and in an emergency state, exceeding our $3M/year GCP credits with container image hosting being

[2022-10-25 20:26] hh commented on #122
/cc

[2022-10-25 20:36] upodroid commented on #122
End users get to pull images off the internet for free. For the 0.1% of our users who run K8s on networks with restricted egress, we will share the endpoints from which our images will be served for a particular source IP and 30 days (some other arbitrary window) notice if they change. If that doesn't work for customer X, then they should run mirrors at their own cost.

We can make some uptime gua

[2022-10-26 03:06] BenTheElder commented on #122
I don't think we should make any timing guarantees or uptime guarantees. This is free and barely staffed or funded.

[2022-10-26 05:51] BenTheElder commented on #122
cc @dims @ameukam @spiffxp @thockin (k8s infra chairs + leads)

[2022-10-26 10:42] dims commented on #122
I agree Ben.

[2022-10-26 10:56] ameukam commented on #122
The project and the infrastructure is maintained by volunteers at the moment. we should not provide SLAs for the public workloads we host.

I agree with the proposal.

[2022-10-26 15:48] BenTheElder commented on #122
Maybe, however ...

I can't find **any** precedence for this (other than the implicit, undocumented expectation we unintentionally created around k8s.gcr.io / gcr.io/google-containers).

Dockerhub, pypi, crates.io, the go module proxy, .... none of them appear to do anything remotely like documenting the required endpoints and waiting some period of time before rolling out new ones.

I'm not sure

[2022-10-26 15:57] aojea commented on #122
is the notification mechanism not going to have the same problem of understaffing? if that happens, having a notification channel that doesn't work is worse than not having nothing IMHO

[2022-10-26 16:15] jhoblitt commented on #122
It seems that an availability guarantee for "backend" endpoint is an anti-feature as:

1) We don't want end-consumers to start depending directly on a specific endpoint.  The odds are if a deployment is using a specific endpoint,  the dependency will have a life time of weeks to years.
2) It ties our hands operationally for doing load shedding or even taking a misbehaving endpoint offline.
3) In t

[2022-10-28 14:04] #122 closed

[2022-11-04 17:23] mozts2005 opened #127 "Firewall filtering by FQDN"
Is there a list of FQDNS used in the hosting of registry.k8s.io that should be allowed by enterprise security teams to ensure access?

[2022-11-04 18:03] BenTheElder commented on #127
No, currently we recommend mirroring instead if you need to allowlist domains.

https://github.com/kubernetes/registry.k8s.io#stability

[2022-11-07 14:29] willzhang opened #128 "get image tag from registry.k8s.io"
i want search `registry.k8s.io/dns/k8s-dns-node-cache` image's tag ,how can i do that?

[2022-11-07 15:35] BenTheElder commented on #128
It supports the OCI APIs so you can use something like `crane ls registry.k8s.io/dns/k8s-dns-node-cache` however I highly recommend looking at that project's releases instead of picking tags directly.

There is also https://explore.ggcr.dev/?repo=registry.k8s.io/dns/k8s-dns-node-cache

[2022-11-07 23:17] upodroid opened #129 "OCI Distribution Conformance Testing"
The OCI Distribution spec has a conformance test that you can run to see if a registry meets the OCI spec.

I ran this for archeio and we are doing great with blobs but not so well with the manifests.

https://github.com/opencontainers/distribution-spec/tree/main/conformance

Set the following variables:

[code]

We need to change a few things to make it comply with the spec.

Report link: https:/

[2022-11-07 23:31] BenTheElder commented on #129
We don't support push and have no intention to, the others I don't have too much concern about, the failed responses are from AR not registry.k8s.io.

[2022-11-07 23:57] BenTheElder commented on #129
It is worth noting that the README currently states OCI compliance, which may be misleading and also unnecessary.

Per:
https://github.com/opencontainers/distribution-spec/tree/main/conformance#testing-registry-workflows

We would need to fix the pull tests, but only the pull tests.
But again, most of these responses appear to be from AR, not archeio so ....

Unlike Kubernetes conformance, I don't

[2022-11-08 00:03] upodroid commented on #129
I did some digging around since I opened the issue:
- the conformance test runs with the v1 api which is deprecated.(There isn't a flag for v2 only tests)
- AR doesn't support the v1 API.
- AR is returning incorrect values. Blaming Google.

https://cloud.google.com/artifact-registry/docs/supported-formats

TL;DR, we meet the spec and everything is mostly good. Can't really do anything about the cl

[2022-11-08 00:08] BenTheElder commented on #129
Ah, yeah that will do it. We also dropped v1 from archeio for similar reasons, I don't think any clients are still on v1.

We should say that we are OCI *v2* compliant, which is also noteworthy if a v3 is released and we're not prepared yet...

For error codes, I think it's split between archeio and AR, but responses with different 4XX codes don't seem like a big deal, lots of registries are doing